@tailwind base;
@tailwind components;
@tailwind utilities;


[dir='rtl'] {
    text-align: right;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Almarai", sans-serif;
  }

  @layer utilities {
    .paused {
      animation-play-state: paused;
    }
  }